@model IEnumerable<Veterinarias.Modelos.PR_RAZAS_S01>
@{
    var parametroAnimal = (Veterinarias.Modelos.Animales)ViewBag.Animales;
}

<div class="mail-box">@*
    <h3>Animal: @parametroAnimal.Nombre</h3>*@
    <h2>Razas</h2>
    <p>
        <a asp-action="Create" asp-route-idAnimal="@parametroAnimal.Id" class="btn btn-primary add-dialog-window">Nuevo Registro</a>
    </p>
    <div class="table-responsive table-sm table-hover">
        <table id="example" class="table table-hover table-mail">
            <thead class="table-active">
        <tr>
            <th>
                Animal
            </th>
            <th>
                Raza
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Animal</td>
                    <td>@item.Raza</td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.Estado) ESTO HARA QUE HAYA UN CHECK LIST*@
                        <span class="estado-badge @(item.Estado ? "badge-success" : "badge-danger")">
                            @(item.Estado ? "Activado" : "Anulado")
                        </span>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning edit-dialog-window">Editar</a>
                        @if (item.Estado)
                        {
                            <a data-id="@item.Id" class="btn btn-danger anular-dialog-window">Anular</a>
                        }
                        else
                        {
                            <a data-id="@item.Id" class="btn btn-success activar-dialog-window">Activar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Animales" class="btn btn-dark" asp-action="Index">Regresar a la lista</a>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="AddModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:green;color:white;">
                <h5 class="modal-title" id="TittleCreatemodel">Nueva Raza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="teeee">Please wait...</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Activar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3fb618;color:white;">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2 class="modal-title">Activar</h2>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h4>¿Estás seguro de activar el animal seleccionado?</h4>
                </div>
                <div id="responseActivar" class="text-right">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Anular" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#3fb618;color:white;">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h2 class="modal-title">Anular</h2>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <h4>¿Estás seguro de anular el animal seleccionado?</h4>
                </div>
                <div id="responseInactivar" class="text-right">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="EditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:orange;color:white;">
                <h5 class="modal-title" id="TittleCreatemodel">Editar Animal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="teeee">Please wait...</div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    
    <script>
        //PARA ANULAR
        $("body").on("click", "a.anular-dialog-window", null, function (e) {
            var htmlContent = '<br /><button type="button" id="btnNo" class="btn btn-danger" style="background-color:#da2213;color:white;" data-dismiss="modal" aria-hidden="true">No</button>&nbsp&nbsp<a href="@Url.Action("Anular", "Razas")/' + $(this).data('id') + '" class="btn btn-default">Sí</a>';
            $("#responseInactivar").html(htmlContent);
            $('#Anular').modal('show');
        });
        //PARA ACTIVAR
        $("body").on("click", "a.activar-dialog-window", null, function (e) {
            var htmlContent = '<br /><button type="button" id="btnNoActivar" class="btn btn-danger" style="background-color:#da2213;color:white;" data-dismiss="modal" aria-hidden="true">No</button>&nbsp&nbsp<a href="@Url.Action("Activar", "Razas")/' + $(this).data('id') + '" class="btn btn-success">Sí</a>';
            $("#responseActivar").html(htmlContent);
            $('#Activar').modal('show');
        });
    </script>
    
    <script>
        //PARA ABRIR UNA VENTANA CREATE
        //PARA QUE NO SEA UNA PESTAÑA LE PONEMOS 'VIEW' EN CONTROLLER Y ESTE SCRIPT SE VA PARA EL MISMO CREATE
        $("body").on("click", "a.add-dialog-window", null, function (e) {
            e.preventDefault();
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#AddModal').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#AddModal .teeee').html(data);
                    $('#AddModal').modal('show');
                });
            }
        });
    </script>

    <script>
        //PARA ABRIR UNA VENTANA EDIT
        //PARA QUE NO SEA UNA PESTAÑA LE PONEMOS 'VIEW' EN CONTROLLER Y ESTE SCRIPT SE VA PARA EL MISMO EDIT
        $("body").on("click", "a.edit-dialog-window", null, function (e) {
            e.preventDefault();
            
            var $link = $(this);
            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#EditModal').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#EditModal .teeee').html(data);
                    $('#EditModal').modal('show');
                });
            }
        });
    </script>

    @*PARA DATATABLES*@
    <script>
        $(document).ready(function () {
            //ESTE ES PARA EL DATATABLES
            $('#example').DataTable({
                language: {
                    search: "Buscar: ",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ elementos",
                    infoFiltered: "(filtrado de _MAX_ registros en total)",
                    paginate: {
                        first: "Primero",
                        previous: "<",
                        next: ">",
                        last: "Último"
                    }
                },
                "order": [[0, "asc"]],
                stateSave: true,
                dom: 'Bfrtip',
                buttons: [
                    'excelHtml5',
                    'pdfHtml5'
                ]
            });
        });
    </script>
    }